body {
    background-color: #000000;
}

img{
    width: 220px;
    height: 380px;
    margin-left: 115px;
    animation: img 15s infinite;
}

@keyframes  img{
    0% {opacity: 1; }
    50% {opacity: 0; }
    100% {opacity: 1;}
}

@keyframes piscar {
  0% { opacity: 1; color: red; }
  50% { opacity: 0; color: white; }
  100% { opacity: 1; color: white; }
}

h1 {
  animation: piscar 1s infinite;
  margin-left: 119px;
}

h1 a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Faz o link herdar a cor do elemento pai */
}
